.posts-container {
  background-color: whitesmoke;
  width: 600px;
  margin: 0 auto 10px auto;
  border-radius: 5px;
}

.post-tile {
  width: 550px;
  margin: 0 auto 10px auto;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  overflow-wrap: break-word;
}

.post-body {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}