.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.right-bar, .side-bar {
  width: 500px;
  height: 1000px;
  position: fixed;
}

.side-bar {
  display: flex;
  left: 0;
  margin-left: 165px;
  justify-content: end;
}

.side-list {
  list-style-type: none;
}

.list-item {
  cursor: pointer;
  font-size: x-large;
  padding: 10px 20px;
  padding-right: 75px;
  transition: background-color 0.3s ease;
}

.list-item:hover {
  background-color: whitesmoke; 
}

.list-item-clicked {
  background-color: whitesmoke;
  border-radius: 50px;
}

.right-bar {
  right: 0;
}

.main-content {

}
