.comment {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 10px;
  border-bottom: 1px dotted black;
}

.comment-content {
  width: 75%;
  overflow-wrap: break-word;
}

.comment-update-delete {
  width: 116px;
  display: flex;
  flex-direction: column;
}